<div class="header"></div>
<section id="mainContent" class="container-fluid">
  <div id="row-content" class="row">
    <div id="preloader"></div>
    <div id="col-content" class="col-12">
      <div id="letsPlayText" class="letsPlayText">{{title}}</div>
      <div id="level1col" class="col-4">
        <img src="{{level1}}" alt="{{level1}}" id="level1img" class="level-img center-block">
      </div>
      <div id="level2col" class="col-4"></div>
    </div>
  </div>
</section>