<div id="preloader"></div>
<div id="content" class="container-fluid">
  <div id="header" class="header"></div>
  <section id="mainContent" class="container-fluid">
    <div id="row-content" class="row">
      <div id="col-content" class="col-12">

        {{!-- <div id="letsPlayText" class="letsPlayText"></div> --}}

      </div>
      <div id="settingButtonCol" class="col-4">
        <img src="{{setting}}" id="imgSetting" class="img-setting center-block" alt="Setting button">
      </div>

      <div id="PlayButtonCol" class="col-4">
        <img src="{{Play}}" id="imgPlay" class="img-play center-block" alt="Play button">
      </div>
      <div id="ExitButtonCol" class="col-4">
        <img src="{{Exit}}" id="imgExit" class="img-exit center-bloc" alt="Exit button">
      </div>

    </div>
  </section>
</div>