<div id="preloader" class="hidden"></div>
<div id="container" class="container-fluid">
  <div id="row-content" class="row">
    <div id="col-content" class="col-lg-6 offset-lg-3 Enterbutton text-center">
      <div id="buttonEnter">

        <div id="socialWrapper" class="social-wrapper">
          <img id="vkButton"  src="{{}}" alt="{{}}">
          <img id="googleButton" src="{{}}" alt="{{}}">
          <img id="yandexButton" src="{{}}" alt="{{}}">
        </div>

      </div>
    </div>
  </div>
</div>







