<div id="preloader"></div>
<div id="content" class="container-fluid">
  <div class="header"></div>
  <section id="mainContent" class="container-fluid">
    <div id="col-content" class="col-12">
      <div id="titleText" class="titleText ">{{title}}</div>
    </div>
    <div id="rowContent" class="row"></div>
  </section>
</div>