<div class="col-4">


  <div class="wrapflag">
      <img  id="RU" class="img-fluid"  src="{{ru}}" alt="RU">
  </div>

</div>
<div class="col-4">
  <div class="wrapflag">
    <img id="OK"  src="{{ok}}" class="img-fluid"  alt="OK">
  </div>
  
</div>

<div class="col-4">

  <div class="wrapflag">
      <img  id="ENG" class="img-fluid" src="{{eng}}" alt="ENG">
  </div>
</div>

