/* @font-face {
  font-family:'XeniaCameoCTT';
  src: url('/assets/fonts/kidsfont/XeniaCameoCTT.eot');
src: url('/assets/fonts/kidsfont/XeniaCameoCTT.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/kidsfont/XeniaCameoCTT.woff2') format('woff2'),
  url('/assets/fonts/kidsfont/XeniaCameoCTT.woff') format('woff'),
  url('/assets/fonts/kidsfont/XeniaCameoCTT.ttf') format('truetype'),
  url('/assets/fonts/kidsfont/XeniaCameoCTT.svg#XeniaCameoCTT') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
  fill: blue;
  text-transform: uppercase;
}

@font-face {
  font-family:'XeniaCameo';
  src: url('/assets/fonts/kidsfont/XeniaCameo.eot');
src: url('/assets/fonts/kidsfont/XeniaCameo.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/kidsfont/XeniaCameo.woff2') format('woff2'),
  url('/assets/fonts/kidsfont/XeniaCameo.woff') format('woff'),
  url('/assets/fonts/kidsfont/XeniaCameo.ttf') format('truetype'),
  url('/assets/fonts/kidsfont/XeniaCameo.svg#XeniaCameo') format('svg');
   /* font-weight: 400;
  font-style: normal;
  font-stretch: normal; 
  unicode-range: U+0020-00FC; 
} */